#computer{
    border-radius: 25px;
    background-color: whitesmoke;
    margin-bottom: 50px;
}

p{
    margin-top: 5;
    border-style: dashed none;
    border-color: aqua;
}

h1{
    background-color: aqua;
    border-radius: 25px;
}